* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

/* main {
  background-image: url("https://www.sust.edu/uploads/gallery/p-main-1469926802.jpg");
} */
.app #not-logged-in {
  margin: 30px;
  padding: 20px;
  background-color: rgb(167, 101, 229);
  text-align: center;
  color: white;
  font-size: 1.6rem;
  border-radius: 4px;
}
.app #not-logged-in-img {
  height: 200px;
}
.app #page-not-found-img {
  height: 300px;
}
.app #page-not-found {
  text-align: center;
  font-size: 2rem;
}
.app #page-not-found article {
  border-radius: 5px;
  padding: 10px;
  margin: 2px auto;
  background-color: rgb(241, 131, 241);
  width: 500px;
  color: white;
}
.app {
  background: rgb(251, 251, 251);
  background: linear-gradient(
    90deg,
    rgba(251, 251, 251, 1) 0%,
    rgba(190, 245, 244, 1) 42%,
    rgba(207, 240, 194, 1) 77%,
    rgba(243, 249, 247, 1) 91%
  );
}
