#login-form form {
  border: 2px solid rgb(125, 237, 125);
  margin: 3rem;
  padding: 2rem;
  border-radius: 3px;
}
#login-from input,
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#login-from button {
  display: block;
  margin: 0 auto;
}
