#signup-form {
  border: 2px solid rgb(125, 237, 125);
  margin: 3rem;
  padding: 2rem;
  border-radius: 3px;
}
#signp-from input,
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#signup-form #info {
  border-left: solid 2px rgb(201, 98, 98);
  margin-top: 2rem;
  padding: 5px;
}

#signup-form #success {
  background-color: rgb(107, 219, 107);
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
}
#signup-form #failure {
  background-color: rgb(237, 152, 25);
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
}
