#signup-form {
  border: 2px solid rgb(125, 237, 125);
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 3px 3px 14px rgb(107, 219, 107);
  width: 25rem;
  background-color: white;
}
#signp-from input,
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* width: 10rem; */
  width: 200px;
}
#signup-form input {
  padding: 6px;
  background-color: #baeaba;
  color: rgb(61, 33, 33);
  border-radius: 6px;
  width: 300px;
}

#signup-form #info {
  border-left: solid 2px rgb(201, 98, 98);
  margin-top: 2rem;
  padding: 5px;
}

#signup-form #success {
  background-color: rgb(107, 219, 107);
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
}
#signup-form #failure {
  background-color: rgb(237, 152, 25);
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
}

#signup-form button {
  margin: 20px auto;
  border-bottom: 2px violet solid;
  display: block;
  width: 150px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.3em 1.2em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

#signup-form button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#signup-form button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#signup-form button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #48e43a;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#signup-form button:hover {
  color: #ffffff;
  border: 1px solid #0fe00f;
}

#signup-form button:hover:before {
  top: -35%;
  background-color: #49af19;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#signup-form button:hover:after {
  top: -45%;
  background-color: #13d720;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
#signup-form #input-error {
  margin: 2px;
  color: red;
  font-size: 12px;
}
#signup-form #sign-up-cred-bad {
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: rgb(220, 74, 74);
  border-radius: 3px;
  padding: 2px;
  width: 300px;
}
#signup-form #img-preview {
  height: 100px;
}
#signup-form #preview-img-container {
  margin-top: 10px;
  text-align: center;
}
