#student-control-page {
  text-align: center;
}
#student-control-page #res-msg {
  background-color: white;
  padding: 5px;
  color: rgb(15, 161, 161);
  width: 200px;
  border-radius: 3px;
  margin: 15px auto;
  font-weight: 600;
}
#student-control-page button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin: 20px;
  box-shadow: 3px 3px 5px rgb(94, 225, 94);
}
#student-control-page button:hover {
  background-color: violet;
  color: white;
}

#student-control-page form {
  background-color: white;
  border-radius: 16px;
  box-shadow: 3px 3px 10px rgb(100, 233, 100);
  /* width: 400px; */
  margin: 30px auto;
  padding: 20px;
}
#student-control-page form label,
input {
  display: block;
  margin: 0 auto;
}
#student-control-page input,
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#student-control-page input {
  padding: 6px;
  background-color: #f4fbf4;
  color: rgb(61, 33, 33);
  border-radius: 6px;
  width: 300px;
}
#student-control-page label {
  padding: 6px;
  background-color: #cef8ce;
  color: rgb(61, 33, 33);
  border-radius: 6px;
  width: 300px;
}
#student-control-page form button {
  margin: 20px auto;

  /* display: inline-block; */
  display: block;
  width: 100px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.3em 1.2em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

#student-control-page form button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#student-control-page form button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#student-control-page form button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #48e43a;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#student-control-page form button:hover {
  color: #ffffff;
  border: 1px solid #0fe00f;
}

#student-control-page form button:hover:before {
  top: -35%;
  background-color: #49af19;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#student-control-page form button:hover:after {
  top: -45%;
  background-color: #13d720;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
#student-certificate-form-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
